/*
// Bootstrap
@import '~bootstrap/scss/bootstrap';
*/

body {
  margin: 0;
  padding: 0;
}

#app {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.clearfix {
  overflow: auto;
}

.claim {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/images/claim.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/claim.jpg");
  background-size: cover;
  background-position: 50%;
}

.claimTitle {
  margin-top: 40px;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  -webkit-animation: 1s ease-out 0s 1 slideInFromTop;
          animation: 1s ease-out 0s 1 slideInFromTop;
}

@media (min-width: 476px) {
  .claimTitle {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  .claimTitle {
    font-size: 80px;
    font-weight: 400;
  }
}

@media (min-width: 1000px) {
  .claimTitle {
    font-size: 100px;
  }
}

.claimSubTitle {
  margin-top: 33px;
  color: white;
  font-size: 16px;
  -webkit-animation: .6s ease-out 0s 1 slideInFromTopMore;
          animation: .6s ease-out 0s 1 slideInFromTopMore;
}

@-webkit-keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromTopMore {
  0% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromTopMore {
  0% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.menu {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 476px) {
  .menu {
    width: 92%;
  }
}

@media (min-width: 768px) {
  .menu {
    width: 87%;
  }
}

@media (min-width: 1000px) {
  .menu {
    width: 83%;
  }
}

.menu .menuTag {
  width: 57%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95px;
  z-index: 1;
  background-color: #f34949;
  position: relative;
  padding-bottom: 30px;
  font-size: 20px;
  color: white;
}

@media (min-width: 476px) {
  .menu .menuTag {
    width: 42%;
  }
}

@media (min-width: 768px) {
  .menu .menuTag {
    width: 27%;
  }
}

@media (min-width: 1000px) {
  .menu .menuTag {
    width: 17%;
  }
}

.menu .menuTag::before {
  background-color: white;
  height: 30px;
  width: 100%;
  border-radius: 50% 50% 0 0;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -999999;
}

.menu .menuList {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  padding-top: 50px;
}

@media (min-width: 768px) {
  .menu .menuList {
    grid-template-columns: 1fr 1fr;
  }
}

.menu .menuList .menuItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 50px 0;
  position: relative;
}

@media (min-width: 1000px) {
  .menu .menuList .menuItem {
    margin: 10px 20px 50px 20px;
  }
}

.menu .menuList .menuItem .menuFood {
  width: 55%;
  padding: 15px;
  font-size: 16px;
  color: #555555;
}

@media (min-width: 1000px) {
  .menu .menuList .menuItem .menuFood {
    width: 50%;
  }
}

.menu .menuList .menuItem .menuFood .subText {
  color: #B7B7B7;
  font-size: 12px;
}

.menu .menuList .menuItem .menuBorder {
  width: 30%;
  border-top: 1px solid #E3E1E1;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1000px) {
  .menu .menuList .menuItem .menuBorder {
    width: 35%;
  }
}

.menu .menuList .menuItem .menuPrice {
  width: 15%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

