/*
// Bootstrap
@import '~bootstrap/scss/bootstrap';
*/

body {
  margin: 0;
  padding: 0;
}

#app {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.clearfix {
  overflow: auto;
}

.claim {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/images/claim.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/claim.jpg");
  background-size: cover;
  background-position: 50%;
}

.claimTitle {
  margin-top: 40px;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  -webkit-animation: 1s ease-out 0s 1 slideInFromTop;
          animation: 1s ease-out 0s 1 slideInFromTop;
}

@media (min-width: 476px) {
  .claimTitle {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  .claimTitle {
    font-size: 80px;
    font-weight: 500;
  }
}

@media (min-width: 1000px) {
  .claimTitle {
    font-size: 100px;
  }
}

.claimSubTitle {
  margin-top: 33px;
  color: white;
  font-size: 16px;
  -webkit-animation: 1s ease-out 0s 1 slideInFromTopMore;
          animation: 1s ease-out 0s 1 slideInFromTopMore;
}

@-webkit-keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromTopMore {
  0% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromTopMore {
  0% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.container {
  width: 95%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 476px) {
  .container {
    width: 92%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 87%;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 83%;
  }
}

.container .menuTag {
  width: 48%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  z-index: 1;
  background-color: #f34949;
  position: relative;
  padding-bottom: 30px;
  font-size: 20px;
  color: white;
}

@media (min-width: 476px) {
  .container .menuTag {
    width: 31%;
    height: 95px;
  }
}

@media (min-width: 768px) {
  .container .menuTag {
    width: 20%;
  }
}

@media (min-width: 1000px) {
  .container .menuTag {
    width: 16%;
  }
}

.container .menuTag::before {
  background-color: white;
  height: 30px;
  width: 100%;
  border-radius: 50% 50% 0 0;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -999999;
}

.container .menuList {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  padding-top: 50px;
}

@media (min-width: 768px) {
  .container .menuList {
    grid-template-columns: 1fr 1fr;
  }
}

.container .menuList .menuItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 50px 0;
  position: relative;
  width: 100%;
}

@media (min-width: 1000px) {
  .container .menuList .menuItem {
    margin: 10px 20px 50px 20px;
  }
}

.container .menuList .menuItem .menuFood {
  width: 45%;
  padding: 15px;
  font-size: 16px;
  color: #555555;
}

@media (min-width: 1000px) {
  .container .menuList .menuItem .menuFood {
    width: 50%;
  }
}

.container .menuList .menuItem .menuFood .subText {
  color: #B7B7B7;
  font-size: 12px;
}

.container .menuList .menuItem .menuBorder {
  width: 25%;
  border-top: 1px solid #E3E1E1;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1000px) {
  .container .menuList .menuItem .menuBorder {
    width: 35%;
  }
}

.container .menuList .menuItem .menuPrice {
  width: 30%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .featuredDishesTitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  position: relative;
}

@media (min-width: 476px) {
  .container .featuredDishesTitle {
    margin-top: 150px;
    width: 100%;
  }
}

.container .featuredDishesTitle .featuredTitle {
  padding: 15px;
  font-size: 22px;
  text-transform: uppercase;
  color: #3B3B3B;
}

@media (min-width: 768px) {
  .container .featuredDishesTitle .borderDiv {
    width: 40%;
    margin-right: 15px;
    height: 0;
    position: relative;
    border: 1px solid #E5E3E3;
  }
}

.container .showMore {
  font-size: 14px;
  color: #A9A9A9;
  border: 1px solid #D7D5D5;
  padding: 10px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  cursor: pointer;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.container .showMore:hover {
  color: #c6c8ca;
  border: 1px solid #E3E1E1;
}

.container .showMore:focus {
  outline: none;
  -webkit-box-shadow: 0 0 4px #c3c3c3;
          box-shadow: 0 0 4px #c3c3c3;
}

.container .galleryDishes {
  position: relative;
  display: grid;
  height: 1632px;
  grid-template-columns: 1fr;
  padding-top: 30px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

@media (min-width: 476px) {
  .container .galleryDishes {
    height: 2100px;
  }
}

@media (min-width: 768px) {
  .container .galleryDishes {
    grid-template-columns: 1fr 1fr;
    height: 500px;
    margin-bottom: 400px;
  }
}

@media (min-width: 1000px) {
  .container .galleryDishes {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 0;
  }
}

.container .galleryDishes .galleryDish {
  height: 100%;
  position: relative;
  background-position: 50%;
  background-size: cover;
  border-right: 1px solid white;
}

.container .galleryDishes .galleryDish .doubleDish {
  border-bottom: 1px solid white;
  height: 50%;
  width: 100%;
  background-position: 50%;
  background-size: cover;
}

@media (min-width: 768px) {
  .container .galleryDishes .galleryDish .doubleDish {
    height: 100%;
  }
}

@media (min-width: 1000px) {
  .container .galleryDishes .galleryDish .doubleDish {
    height: 50%;
  }
}

